body {
  background: #161719;
  color: #eeeeee;
  font-family: Roboto;
  padding: 0px;
  margin: 5px;
}

header {
  width: 100%;
  border-bottom: 1px solid lightgrey;
}

header #location {
  font-size: 20px;
  padding-left: 10px;
  font-weight: bold;
}

header #current {
  text-align: center;
}

header #current .block {
  text-align: center;
  display: inline-block;
  width: calc(100%/3.1);
}

header #current .temperature {
  font-size: 40px;
}

header #current .icon {
  font-size: 70px;
  margin: 0px 10px 30px 10px;
}

header #current .warning {
  font-size: 40px;
  position: relative;
  top: -15px;
}

header #current .note {
  font-size: 15px;
  font-style: italic;
}

#details {
  font-size: 20px;
  border-bottom: 1px solid lightgrey;
}

#details .row {
  width: 100%;
}

#details .half-row {
  width: calc(50% - 8px);
  display: inline-block;
  margin: 5px 0px 0px 5px;
}

#details .cell {
  width: auto;
  display: inline-block;
  padding-right: 10px;
}

#details .icon {
  width: 80px;
  text-align: right;
  color: #aeaeae;
}

.even {
  background-color: #3e3e3e;
}

.uv-low {
  font-weight: bold;
  color: #01b053;
}

.uv-medium {
  font-weight: bold;
  color: #ffff00;
}

.uv-high {
  font-weight: bold;
  color: #f93;
}

.uv-very-high {
  font-weight: bold;
  color: #c10001;
}

.uv-extremely-high {
  font-weight: bold;
  color: #bf45bf;
}

#forecast {
  font-size: 20px;
}

#forecast .day {
  float: left;
  display: inline-block;
  width: 294.5;
  height: 178px;
  text-align: center;
}

#forecast .border {
  border-right: 1px dotted lightgrey;
}

#forecast .segment {
  width: 98.1;
  display: inline-block;
  float: left;
}

#forecast .note {
  font-style: italic;
  font-size: 13px;
  padding-top: 5px;
  height: 35px;
  word-spacing: 98;
}

#forecast .title {
  width: 100%;
  display: block;
  padding: 5px 0px 0px 0px;
}

#forecast .icon {
  width: 100%;
  display: block;
  padding: 5px 0px 5px 0px;
  font-size: 30px;
}

#forecast .row {
  padding-top: 5px;
  font-size: 15px;
}

.level1 {
  color: yellow;
}

.level2 {
  color: orange;
}

.level3 {
  color: red;
}

.level4 {
  color: #ef00ef; #purple
}
